#pyellow {
    color: yellow
    }
    
    #pbackgreen {
    background: green
    }
    
    a {
        text-decoration: none
    }
    
    p {
        font-family: Verdana, sans-serif;
        text-align: center;
    }
    
    
    
    
    
    
    
    
    
        
    
    
    
    
    
    
    
    