form {
    padding: 20px; /* Добавляем отступы вокруг формы */
    border: 1px solid #34495e; /* Добавляем темно-серую рамку для формы */
    background-color: #ecf0f1;
}

input,
textarea {
    margin-bottom: 15px; /* Добавляем отступ снизу между полями ввода */
    width: 100%; /* Растягиваем поля ввода на 100% ширины формы */    
    border: 1px solid #34495e;
    padding: 10px;
}

button {
    padding: 10px 15px; /* Добавляем отступы вокруг текста кнопки */
    border: none; /* Убираем границу кнопки */
    cursor: pointer; /* Добавляем указатель при наведении на кнопку */
    background-color: #3498db;
    color: #fff;
}

h2 {
    padding: 10px;
    text-align: center;
}