* {
  text-align: center;
}
body {
  background-color: #efeee7;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
}
body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #333333;
}
h1 {
  color: #eee;
  font-size: 28px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-size: 24px;
}

.container {
  width: 1024px;
}
#main-bio,
#contact-inti,
#bio-image {
  float: left;
}
#bio-image {
  width: 200px;
}
#main-bio {
  width: 70%;
}
#contact-info {
  width: 30%;
}
a {
  color: red;
}
